.Normal_text {font-family:'Noto Serif';font-weight:normal;font-style:normal;font-size:18px;text-decoration:none;color:#727272;background-color:Transparent;letter-spacing:0em;}
.Heading_1 {font-family:'Roboto';font-weight:300;font-style:normal;font-size:45px;text-decoration:none;color:#005E9A;background-color:Transparent;letter-spacing:0em;}
.TITLE {font-size:120px;color:#FFFFFF;}
.Small_text {font-size:14px;}
.Heading_2 {font-size:30px;color:#727272;}
.Heading_3 {font-size:20px;}
.Normal_text_2 {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:18px;text-decoration:none;color:#727272;background-color:Transparent;letter-spacing:0em;}
.Col_Chart_Values {font-family:'Archivo Narrow';font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.Col_Chart_Labels {font-family:'Archivo Narrow';font-weight:bold;font-style:normal;font-size:13px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.Quote_text {font-family:'Libre Baskerville';font-weight:normal;font-style:italic;font-size:28px;text-decoration:none;color:#727272;background-color:Transparent;letter-spacing:0em;}
.Heading_4 {font-weight:bold;}
