@import url(https://fonts.googleapis.com/css?family=Roboto:300&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:regular,700&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:regular,700&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:italic&subset=latin);
@font-face {font-family: 'FontAwesome';font-weight:normal;font-style:normal;src: url("XaraWDGeneratedHTMLfont1.woff") format("woff"), url("XaraWDEmbeddedHTMLfont1.eot?") format("embedded-opentype"), local('FontAwesome');}
@font-face {font-family: 'Verdana_xr';font-weight:normal;font-style:normal;src: url("XaraWDGeneratedHTMLfont2.woff") format("woff"), url("XaraWDEmbeddedHTMLfont2.eot?") format("embedded-opentype"), local('Verdana_xr');}
